<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>CargarPelicula</servlet-name>
        <servlet-class>servlets.CargarPelicula</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CargarEntrada</servlet-name>
        <servlet-class>servlets.CargarEntrada</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CargarCine</servlet-name>
        <servlet-class>servlets.CargarCine</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CargarProyeccion</servlet-name>
        <servlet-class>servlets.CargarProyeccion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AltaCliente</servlet-name>
        <servlet-class>servlets.AltaCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CargarComentario</servlet-name>
        <servlet-class>servlets.CargarComentario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AltaClienteYContinuar</servlet-name>
        <servlet-class>servletsPreventa.AltaClienteYContinuar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginYContinuar</servlet-name>
        <servlet-class>servletsPreventa.LoginYContinuar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ContinuarSinReg</servlet-name>
        <servlet-class>servletsPreventa.ContinuarSinReg</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BorrarComentarioCliente</servlet-name>
        <servlet-class>servlets.BorrarComentarioCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BorrarPelicula</servlet-name>
        <servlet-class>servlets.BorrarPelicula</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BorrarActor</servlet-name>
        <servlet-class>servlets.BorrarActor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BorrarCine</servlet-name>
        <servlet-class>servlets.BorrarCine</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BorrarComentario</servlet-name>
        <servlet-class>servlets.BorrarComentario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BorrarCliente</servlet-name>
        <servlet-class>servlets.BorrarCliente</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CargarEntrada</servlet-name>
        <url-pattern>/CargarEntrada</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CargarPelicula</servlet-name>
        <url-pattern>/CargarPelicula</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CargarActor</servlet-name>
        <servlet-class>servlets.CargarActor</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CargarActor</servlet-name>
        <url-pattern>/CargarActor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CargarCine</servlet-name>
        <url-pattern>/CargarCine</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CargarProyeccion</servlet-name>
        <url-pattern>/CargarProyeccion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AltaCliente</servlet-name>
        <url-pattern>/AltaCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CargarComentario</servlet-name>
        <url-pattern>/CargarComentario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AltaClienteYContinuar</servlet-name>
        <url-pattern>/AltaClienteYContinuar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginYContinuar</servlet-name>
        <url-pattern>/LoginYContinuar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ContinuarSinReg</servlet-name>
        <url-pattern>/ContinuarSinReg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BorrarComentarioCliente</servlet-name>
        <url-pattern>/BorrarComentarioCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BorrarPelicula</servlet-name>
        <url-pattern>/BorrarPelicula</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BorrarActor</servlet-name>
        <url-pattern>/BorrarActor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BorrarCine</servlet-name>
        <url-pattern>/BorrarCine</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BorrarComentario</servlet-name>
        <url-pattern>/BorrarComentario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BorrarCliente</servlet-name>
        <url-pattern>/BorrarCliente</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
