body {
    background-color: white;
    margin: 0px;
}

nav {
    text-align: center;
    background-color: navy;
    width: 90%;
    height: 100px;
    margin-left: 5%;
    margin-right: 5%;
}

article {
    margin-top: 20px;
    margin-left: 5%;
    width: 90%;
}

section {
    background-color: lightskyblue;
    color: black;
    text-align: justify;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

h1 {
    color: white;
    font: status-bar;
    font-size: xx-large;
    padding-top: 25px;
}

h2 {
    color: black;
    font: status-bar;
    font-size: x-large;
}

h3 {
    color: black;
    font: status-bar;
    font-size: medium;
    padding-top: 15px;
}

p {
    color: black;
}

footer {
    text-align: center;
    background: lightsteelblue;
    width: 90%;
    height: 50px;
    margin-top: 20px;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 20px;
}

table {
    width: 500px;
}

td {
    padding-right: 5%;
}

label {
    font: status-bar;
    font-size: medium;
}

#enviar {
    text-align: center;
    width: 400px;
}